{% extends 'layout.html' %}

{% block bodyClasses -%}
home
{%- endblock %}

{% block body %}
<hr class="body-line" />
<div id="chessboard-app" class="container">
  <div class="app-landing">
    <h1 class="title">Chessboard</h1>

    <div class="game-action-btns">
      <button class="btn btn-primary new-game">New Game</button>
      <button type="button" class="btn btn-default join-game" data-toggle="modal" data-target=".join-game-modal-box">Join Game</button>
    </div>
  </div>
</div>
{% endblock %}