<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Chessboard</title>

  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/libs/chessboardjs/css/chessboard.css" />
  
  <link rel="stylesheet" href="/css/style.css" />

  <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/libs/chessboardjs/js/chessboard.js"></script>
  <script type="text/javascript" src="/libs/chessboardjs/js/chess.js"></script>
  <script type="text/javascript" src="/libs/socket.io-client/socket.io.js"></script>

  <script type="text/javascript" src="/js/main.js"></script>
  <script>
  </script>
</head>
<body>
  <div id="chessboard-app">
    <h3 class="title-heading">Chess</h3>
    <div class="game-action-btns">
      <button class="btn btn-default new-game">New Game</button>
      <button type="button" class="btn btn-default join-game" data-toggle="modal" data-target=".join-game-modal-box">Join Game</button>
    </div>

    <div id="board" style="width: 400px"></div>

    <div id="board-status">
          <div class="game-status"></div>

          <div class="game-status-color green"></div>

          <img class="piece white-piece" src="/libs/chessboardjs/img/chesspieces/wikipedia/wP.png" />
          <img class="piece black-piece hide" src="/libs/chessboardjs/img/chesspieces/wikipedia/bP.png" />

          <div class="game-turn">Your Turn</div>
    </div>

    <div class="join-game-box" style="display: none">
        <span>Share this URL to your friend to start playing</span>
        <input type="text"></input>
        <a href="">x</a>
    </div>
  </div>
</body>
</html>