<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Chessboard</title>

  <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/libs/chessboardjs/css/chessboard.css" />
  
  <link rel="stylesheet" href="/css/style.css" />

  <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/libs/chessboardjs/js/chessboard.js"></script>
  <script type="text/javascript" src="/libs/chessboardjs/js/chess.js"></script>
  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.3.2.js"></script>

  <script type="text/javascript" src="/js/main.js"></script>

</head>
<body>
  <h3 class="title-heading">Chess</h3>
  <div id="board" style="width: 400px"></div>
</body>
</html>