body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #4a93f3;
}

html, body.home {
	height: 100%;
}

body.home .app-landing {
	height: 100% !important;
	position: relative;
	top: 25%;
}

body.home .container {
	width: 500px;
}

body.home #chessboard-app {
	height: 100%;
}

body.home hr.body-line {
	position: relative;
	top: 30px;
	color: #444;
	background-color: #444;
}

h1.title {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 70px;
	font-weight: 300;
}

body.home .game-action-btns button {
	margin-right: 12px;
	outline: 0 !important;
}

body.play .container{
	width: 700px;
}

body.play #chessboard-app {
	margin-top: 50px;
}

/*body.play { 
	height: 100%;
}

body.play #chessboard-app {
	height: 100%;
}
*/
.header-wrapper h1 a {
	color: #444;
	font-size: 28px;
	text-decoration: none;
}

.header-wrapper h1 {
	margin: 0;
}

.header-wrapper {
	height: 65px;
	padding-top: 20px;
}

.header-wrapper .pull-right {
	margin-top: 7px;
}

button.btn-primary {
  background-color: #4a93f3;
  color: white;
  border: 0;
  border-radius: 20px;
  width: 125px;
  font-weight: normal;
}

button.btn-default {
  background-color: white;
  color: #444;
  border: 1px solid #444;
  border-radius: 20px;
  width: 125px;
  font-weight: normal;
}

#board {
	margin: auto;
}

#board-status {
	width: 400px;
	margin: auto;
	text-align: center;
	margin-top: 8px;
}

#board-status .game-status {
	display: inline-block;
}

#board-status .game-status-color {
	border-radius: 10px;
	height: 7px;
	width: 7px;
	display: inline-block;
}

#board-status .game-status-color.green {
	background-color: #43bb78;
}

#board-status img.piece {
	height: 30px;
	position: relative;
	top: -2px;
}

#board-status .game-turn {
	display: inline-block;
	font-weight: normal;
	font-size: 12px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #626262;
}

.title-heading {
	text-align: center;
	font-weight: 300;
	margin-bottom: 30px;
}

.game-action-btns {
	margin-bottom: 50px;
}

.join-game-box {
  position: fixed;
  top: 20px;
  left: 32%;
  background-color: rgb(253, 214, 151);
  padding-left: 16px;
  border-radius: 5px;
  padding-bottom: 3px;
  font-size: 12px;
}

.join-game-box input {
	width: 333px;
	font-size: 12px;
	padding: 3px 0;
	border: 0;
	margin-top: 4px;
	outline: none;
	font-weight: bold;
	background-color: transparent;
}

.join-game-box a {
	  padding-right: 18px;
	  color: #444;
	  font-size: 14px;
	  text-decoration: none;
	  display: inline-block;
	  text-decoration: underline;
}
.join-gameb-box a:hover {
	color: #444;
}

/* Footer */

.footer {
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
}

body {
	margin-bottom: 80px;
}


html {
	position: relative;
	min-height: 100%;
}